<div class="col-md-12">
  <h2>订单信息</h2>
  <hr>
  <p>总计：<%= render_total_price(current_cart) %> CNY</p>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= link_to cart_item.product.title, product_path(cart_item.product) %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= cart_item.product.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2>配送信息</h2>
  <hr>
  <%= simple_form_for [:account, @order] do |f| %>
    <%= f.input :customer_name %>
    <%= f.input :phone_number %>
    <%= f.input :address %>
    <%= f.submit "生成订单", class: "btn btn-lg btn-danger" %>
  <% end %>
</div>
